_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
.Rproj.user
.Rhistory
_temp_posts/*
*.png
*/.ipynb_checkpoints/*
_region_*
*.aux
*.log
*.nav
*.out
*.snm
*~
*.toc
*.bcf
*blg
*.run.xml
prv_*
Week03/pollution.csv
*#*
*log*